html {
    min-height:100%;
} /* Makes sure the background isn't cut-off*/


body {
    height:100%;
    background-color: #eeda9e;
    background-image: linear-gradient( #23895d,  	#7fd677, #eadb87, #eeda9e); /*Makes the background colours a gradient*/
    
    
}

h1 {
    text-align: center;
    font-family:Papyrus, fantasy;
    color:  	#96c1fa;
    
} 

video {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%); /*Translate allows you to change the positions of an element, using x, y, and/or z coordinates*/
}

  